@font-face { 
  font-family: 'MyFont'; 
  src: url('images/Norse-Bold.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
} 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{


  /* column-gap: 10px;
  row-gap: 15px;
  height: 100vh; */

  background: #1a1a1a
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  display: grid;
  grid-template-columns:40% 1fr ;
  grid-template-rows: 1.5fr 1fr ;
  grid-template-areas:
  "side-bar top top"
  "side-bar middle middle"
  "side-bar bottom bottom";

  max-width: 700px;
  width: 100%;
  max-width: 900px;
  height: 100%;
  background: #fff;
  /* padding: 3em; */
}
p{
  font-weight: bold;
}

header { 
  font-family: 'MyFont', sans-serif; 
  text-align: center; 
}
.side-bar{
  display: flex;
  background-color: cadetblue;
  /* height: 700px;
  width: 300px; */
  grid-area: side-bar;
  .img{
    max-width:100%;
    object-fit: cover;
  }
}
.top{
  grid-area: top;
}
.middle{
  grid-area: middle;
  padding-bottom: 15px;
  padding: 15px;
  padding-left: 30px;
  padding-right: 35px;
}
.bottom{
  grid-area: bottom;
}
.top{
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1vh;
  padding-top: 15vh;
  background-color: rgb(244, 246, 248);
}
.top p{

  justify-content: center;
}
.top .separate {
  padding-top: 15px;
  font-style: italic;
  font-weight: bold;
}

.bottom{
  padding: 20px;
  grid-area: bottom;
  height: 20vh;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(244, 246, 248);
}
.container .title{
  font-size: 25px;
  font-weight: 500;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .user-details .input-box {
  margin: 10px 0 6px 0;
  width: calc(100% /2 -20px);
  
}

.user-details .input-box span{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 13px;
}

form .button {
  height: 45px;
  margin: 45px 0;

}


.bottom a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #166b28;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}
